@charset "UTF-8";

#menu{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;   
     padding: 0 3%;
 }
header{
    font-family: 'Zen Antique', serif;
    margin: 0 auto;
}
 .logo{
     margin: 10px;
 }
 a{
     color: #1A4472;
     text-decoration: none;
 }
 a img{
     position: relative;
     top: 0.65rem;
 }
 
 .main{
     display: flex;
     font-size: 1.25rem;
     text-transform: uppercase;
     margin-top: 34px;
     list-style: none;
 }

 .main a{
     width: 100%;
     padding: 0 18px;
 }
 .main li:hover {
    background-color: #1A4472;
    border-radius: 5px;
    cursor: pointer;
}
.main li:hover a{
    color: yellow;
}

/*animation*/
h1.logo img{
     width: 50px;
     transform-origin:center;
     animation-name: logoanim;
     animation-duration: 2s;
     animation-iteration-count: initial;
     animation-timing-function:ease-in-out;
}
@keyframes logoanim{
     0%{
         transform: scale(1,1);
     }
     50%{
         transform: scale(-1,1);
     }
     100%{
         transform: scale(1,1);
     }
}
/*スマホ*/
@media screen and (max-width:1160px) {
    .main{
        margin-top: 15px;
    }
     .main a{
         margin: 0 auto;
         flex-direction: column;
         
     }
     #menu{
        flex-direction: column;
     }
     
}
@media screen and (max-width:767px) {
    #menu{
        padding: 0;
    }
    .main{
          
          display:block;
          text-align: center;
     }
    .main li{
        border-bottom: 2px dotted dimgrey;
    }

    .logo{
        margin-top: 10px;
    }
    .logo a{
        padding: 0;
        margin: 0 auto;
         display: block;
    }
    h1{
        font-size: 1.8rem;
    }
    .main li{
        border-bottom: 2px dotted dimgrey;
        border-radius: 5px;
        flex-direction: column;
    }
    .main li:hover {
        background-color: #1A4472;
    }
    .main a{
        padding: 0;
        margin: 0 auto;
        display: block;
        
    }
    .main li:hover a{
        color: yellow;
    }
    #menu{
       flex-direction: column;
    }
}
